<div id="disqus-wrapper">
  <a href='{{url absolute="true"}}#disqus_thread' data-view="disqus" class="disqus-button">
    Load Comments
  </a>

  <script id="dsq-count-scr" src="//edapp.disqus.com/count.js" async></script>

  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = '{{url absolute="true"}}';
    this.page.identifier = 'ghost-{{id}}';
    };
  </script>
</div>
