<footer id="footer">
  <div>
    <a href="http://apple.co/1RNEsSk" target="blank" class="download-links block-sm">
      <img src="{{asset "img/apple-download.png"}}">
    </a>
    <a href="http://bit.ly/1ZvyCv1" target="blank" class="download-links block-sm">
      <img src="{{asset "img/google-play-badge.png"}}">
    </a>
  </div>

  <small>
    Ed © 2017 &emsp;
    <a href="{{@blog.url}}/rss/">
      Subscribe via RSS
    </a>
  </small>

</footer>
