<div id="signup" class="block-navy" data-view="sign-up">
  <form>
    <div>
      <h3 class="signup-title">
        Ed is easy and free to try for you and your&nbsp;team.
      </h5>
      <div>
        <input type="email" placeholder="Email" class="signup-email">
        <button>
          Create my <span class="text-underline">free</span> account
        </button>
      </div>
      <div class="signup-content">
        <p class="signup-status">&nbsp;</p>
        <p class="signup-subtitle">
          No credit card required. Unlimited evaluation&nbsp;period.
        </p>
      </div>
    </div>
  </form>
</div>
