@mixin font-face($name, $weight, $style) {
  $path: "../fonts/#{$name}";

  @font-face {
    font-family: "Ed Sans Neue";

    src: url('#{$path}.eot');
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
         url('#{$path}.woff2') format('woff2'),
         url('#{$path}.woff') format('woff'),
         url('#{$path}.otf') format('opentype');

    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face("edsansneue-regular",       400, normal);
@include font-face("edsansneue-semibold",      600, normal);
@include font-face("edsansneue-regularitalic", 400, italic);
@include font-face("edsansneue-light",         300, normal);
