.masthead
  position: relative
  display: table
  width: 100%
  height: 60vh
  margin-bottom: 5rem
  text-align: center
  background: #222 no-repeat center center
  background-size: cover
  overflow: hidden
  text-shadow: 0 0px 5px rgba(0,0,0,0.2)

  .inner
    width: 80%

  .author-template &
    margin-bottom: 0

  &.post-head
    height: 44vh
    min-height: 180px

  &:before
    content: ""
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 100%
    background: linear-gradient(to bottom, rgba($navy, 0.4), transparent)

  &.no-cover
    min-height: 160px
    max-height: 36vh
    background: $blue
    color: #fff
    text-shadow: none

    &:before
      content: none
      display: none

  &.tag-head
    height: 40vh
    min-height: 180px

  &.author-head
    height: 40vh
    min-height: 180px

.home-template .masthead:after
  display: block
  content: " "
  width: 150px
  height: 130px
  border-radius: 100%
  position: absolute
  bottom: 0
  left: 50%
  margin-left: -75px
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%)

.no-cover.masthead:after,
.paged .masthead:after
  display: none

.no-cover.post-head.masthead,
.no-cover.author-head.masthead
  height: auto
  min-height: 0

  .main-nav
    margin-bottom: 0
    position: relative
